* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-wrapper {
  width: 600px;
  margin: 25px 50px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 33%;
  height: 198px;
  border: 1px solid #000;
  cursor: pointer;
}

.hidden {
  display: none;
}

.cross {
  margin-top: -15px;
  text-align: center;
  font-size: 180px;
}

.item__value {
  margin-top: -5px;
  text-align: center;
  font-size: 180px;
}

body {
  display: flex;
}

.correct-player {
  color: red;
  text-decoration: underline;
}
